---
- hosts: all
  become: yes

  vars:
    mysql_root_password: "Password1"

  tasks:
  - name: Set a hostname
    hostname:
      name: apollo

  - name: Install whois for passwd stuff
    apt:
      name: whois
      state: present

  - name: PASSWORDS | Update loud passwd
    user:
      name: loud
      password: "{{ hellograder | password_hash('sha512')  }}"
      update_password: always

  - name: create dbuser
    user:
      name: dbuser
      comment: 
      uid: 1040
      group: admin



  - name: Install mariadb
    apt:
      name: mariadb-server
      state: present

  - name: start mariadb
    service:
      name: mariadb
      enabled: true
      state: started

  - name: create cybe466grader
    user:
      name: cybe466grader
      createhome: True
      uid: 1041
      group: admin,sudo

  - name: PASSWORDS | Update grader password
    user:
      name: cybe466grader
      password: "{{ hellograder | password_hash('sha512')  }}"
      update_password: always